.about-container {
    position: relative;
    margin: 0rem 1.5rem; 
    padding: 0; 
    height: 80vh; 
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.about-info{
    display: inline-block;
    width: 60%;
}

.about-info h5 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}

.about-info h5 span {
    color: #38b6ff;
}

.about-info h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.about-info p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.input-typed {
    font-size: 40px;
    color: rgb(0, 255, 13);
    font-weight: 800;
    margin-bottom: 10px;
}

.contact-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact-section img {
    width: 20px;
    height: 20px;
}

.contact-section p {
    font-size: 1rem;
    margin: 0;
}

.about-info .content-buttons{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 20px;
}

.about-info .button-download-cv {
    background-color: #38b6ff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 5px 2px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 5px;
}

.about-info .button-download-cv i {
    background-color: transparent;
}

.about-info .button-github{
    background-color: #020202;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 5px 2px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.about-info .button-download-cv:hover, .button-github:hover  {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* styles to the picture content */

.about-picture {
    display: flex;
    justify-content: center;
    width: 40%;
}

.about-picture img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    box-shadow: rgba(0, 166, 251, 0.411) 0px 0px 10px 5px, rgba(223, 5, 5, 0.1) 0px 14px 12px;
    transition: all 0.2s ease;
}

.about-picture img:hover {
    box-shadow: rgba(0, 166, 251) 0px 0px 20px 10px;
}


@media(max-width : 769px) {

    .about-container{
        margin: 1rem 0rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        height: auto;
        scroll-margin-top: 100px; /* Ajusta según la altura de tu navbar */

    }

    .contact-section{
        align-items: flex-start;
    }
    
    .about-content{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .about-info{
        display: inline-block;
        width: 100%;
        margin: 3rem 0;
    }

    .about-info h5 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0.2rem;
    }
    
    .about-info h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .about-info .input-typed {
        font-size: 25px;
        margin-bottom: 0.5rem;
    }
    
    .about-info p {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .about-info .content-buttons {
        padding: 0px;
        margin-top: 20px;
    }

    .about-info .button-download-cv {
        width: 50%;
    }

    .about-info .button-github{
        width: 50%;
    }
    

    /* styles to the picture content */

    .about-picture {
        width: 100%;
        order: 1;
    }

    .about-picture img {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

}