:root {
  --color-primario: #051923;
  --color-2: #003554;
  --color-3: #006494;
  --color-4: #0582ca;
  --color-5: #00a6fb;
}

*{
  padding: 0;
  border: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  color: white;
  background-color: #051923;
  user-select: none;
  scroll-behavior: smooth;
}

.renderAppContent{
  width: 90%;
  margin: 0px 0px 0px 5%;
}

@media(max-width : 769px) {

  .renderAppContent{
    width: 90%;
    margin: 0px 0px 0px 2.5%;
    padding: 10px;
  }

}
